@import 'tailwindcss';

:root {
  --cream: #ffcf99;
  --black: #0c0f0a;
  --white: #fff8f0;
  --red: #f24333;
  --green: #73877b;
}

html,
body {
  overscroll-behavior: none;
  background-color: var(--black);
}

html.snap-scroll {
  @apply snap-y snap-mandatory;
}
